.contact-content {
  height: 545px;
  margin-top: 32px;
  padding: 5px;
  position: relative;
  overflow: hidden;
}

.contact-content::after {
  content: "";
  background-image: url(https://images.pexels.com/photos/3473085/pexels-photo-3473085.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  position: absolute;
  top: 0;
  width: 100%;
  height: inherit;
  opacity: 0.5;
  z-index: -1;
}
.contact-form {

}
